{% extends 'polls/header.html' %}
{% block section1 %}
<section id="content">

			<!-- Section -->
			<section class="section full-width-bg">

				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-8">

						<!-- Main Slider -->
						<div class="flexslider main-flexslider animate-onscroll">

							<ul class="slides">

								<li id="main_flex_1">

									<div class="slide align-left">
										<h2>Unity<br>
										Liberty<br>
										Solidarity</h2>
										<a href="#" class="button big button-arrow">Find out more</a>
									</div>

								</li>

								<li id="main_flex_2">

									<div class="slide align-center">
										<h4 class="great-vibes">it’s time for changes</h4>
										<h2>Hep Birlikte İnşa Ediyoruz bY sERVET</h2>
										<a href="#" class="button big button-arrow">Get Involved</a>
									</div>

								</li>

								<li id="main_flex_3">

									<div class="slide align-right">
										<h2>10 YEARS OF EXPERIENCE</h2>
										<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor,<br> dapibus eget, elementum vel, cursus eleifend, elit. </p>
										<a href="#" class="button big button-arrow">More Info</a>
									</div>

								</li>

							</ul>

						</div>
						<!-- /Main Slider -->

					</div>


					<div class="col-lg-3 col-md-3 col-sm-4 sidebar">

												<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="#">
								<i class="icons icon-calendar"></i>
								<h4>Find Events</h4>
								<p>Lorem ipsum dolor sit amet</p>
							</a>
						</div>

						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="#">
								<i class="icons icon-check"></i>
								<h4>Register to vote</h4>
								<p>Nemo enim ipsam</p>
							</a>
						</div>

						<div class="banner-wrapper">
							<a class="banner animate-onscroll" href="#">
								<i class="icons icon-user"></i>
								<h4>Volunteer</h4>
								<p>Pellentesque sed dolor</p>
							</a>
						</div>

						<div class="banner-wrapper">
							<div class="banner donate-banner animate-onscroll">

								<h5>Make a <strong>quick donation</strong> here</h5>
								<form>

									<input id="donate-amount-1" type="radio" name="donate-amount">
									<label for="donate-amount-1">$5</label>

									<input id="donate-amount-2" type="radio" name="donate-amount">
									<label for="donate-amount-2">$25</label>

									<input id="donate-amount-3" type="radio" name="donate-amount">
									<label for="donate-amount-3">$100</label>

									<input type="submit" value="Donate">

								</form>
							</div>
						</div>						<div class="social-media animate-onscroll">
							<span class="small-caption">Get connected:</span>
							<ul class="social-icons">
								<li class="facebook"><a href="#" class="tooltip-ontop" title="Facebook"><i class="icons icon-facebook"></i></a></li>
								<li class="twitter"><a href="#" class="tooltip-ontop" title="Twitter"><i class="icons icon-twitter"></i></a></li>
								<li class="google"><a href="#" class="tooltip-ontop" title="Google Plus"><i class="icons icon-gplus"></i></a></li>
								<li class="youtube"><a href="#" class="tooltip-ontop" title="Youtube"><i class="icons icon-youtube-1"></i></a></li>
								<li class="flickr"><a href="#" class="tooltip-ontop" title="Flickr"><i class="icons icon-flickr-4"></i></a></li>
								<li class="email"><a href="#" class="tooltip-ontop" title="Email"><i class="icons icon-mail"></i></a></li>
							</ul>

						</div>
					</div>

				</div>

			</section>
			<!-- /Section -->


{% endblock %}